.swipe-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 100;
}

.sidebar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  pointer-events: none;
}

.left-sidebar,
.right-sidebar {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.left-sidebar,
.right-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 80%;
  max-width: 350px;
  background-color: var(--light);
  transition: transform 0.3s ease;
  overflow-y: auto;
  height: 110svh;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  pointer-events: auto;
}

.left-sidebar {
  left: 0;
  border-radius: 0 20px 0;
  transform: translateX(-100%);
}

.right-sidebar {
  right: 0;
  border-radius: 20px 0 0;
  transform: translateX(100%);
}

.left-sidebar.open {
  transform: translateX(0);
}

.right-sidebar.open {
  transform: translateX(0);
}

.left-sidebar,
.right-sidebar {
  .search,
  .darkmode,
  .explorer,
  .graph,
  .toc,
  .backlinks {
    width: 100%;
  }
}

.left-sidebar {
  .music-player {
    width: 90%;
    margin-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .left-sidebar {
    .music-player {
      width: 90%;
    }
  }
}

@media (max-width: 800px) {
  .swipe-sidebar {
    display: block;
  }
}

body.sidebar-open {
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.left-sidebar,
.right-sidebar {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.quartz-body {
  &.sidebar-open {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
}

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-wrapper {
  width: 100%;
  height: 100%;
}

body.sidebar-open {
  overflow: hidden;
}

.left-sidebar,
.right-sidebar {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

body.sidebar-open {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  height: 100%;
}